@import '../../styles/_variables.scss';

.Team {
  padding-top: 1em;
}

.addPlayer {
  color: $titandarkblue;
  font-weight: bold;
  background-color: $titanblue;
  border-color: $titandarkblue;

}
    .addPlayer:hover {
      background-color: $titandarkblue;
      color: white;
      border-color: white;
    }